/* General Styles */
body {
    margin: 0;
    background-color: #F3F3E0;
}

/* Nav Styles */
nav {
    background-color: #133E87;
    top: 0;
    color: white;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}

nav p, nav a {
    color: white;
    font-family: "Roboto Mono", serif;
    font-size: 1.1em;
    font-optical-sizing: auto;
    font-weight: 500;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #608BC1;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    background-color: #133E87;
    font-size: 25px;
    color: white;
    gap: 0.3em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #608BC1;
}

/* Splash Section */
.splash {
    display: block;
    text-align: center;
    color: black;
}

.splash h1 {
    font-family: "Roboto Mono", serif;
    font-size: 1.5em;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #133E87;
}

.splash img {
    border: 5px solid black;
    border-radius: 50%;
}

.splash p {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    
}

.contact-info {
    font-size: 0.8em;
    color: #608BC1;
}

.tagline {
    font-size: 1em;
    color: #133E87;
}

/* Horizontal Rules */
hr {
    border-width: 0.15em;
    border-color: #2E5077;
    border-style: solid;
}

/* Sections */
section {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #180161;
    margin: 1em;
}

/* Section Headings */
section h2 {
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
    color: #133E87;
    margin-left: 0.4em;
    margin-bottom: 0%;
}

/* Paragraph Styles */
section p {
    margin-left: 1em;
    color: black;
    font-size: 1.2em;
}

/* link styles */
section a {
    color: #608BC1;
    text-decoration: none;
}
section a:hover {
    color: #133E87;
}

/* List Styles */
ul {
    list-style-type: square;
}

dl {
    list-style-type: square;
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

dl dt{
    font-weight: bold;
}

dl dd{}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.card {}

.card img {}

.card h3 {}

/* Contact Page Styles */
.one-col {}

form {}

form input, form textarea {}

form input:focus, form textarea:focus {}

form button {}

form button:hover {}
